.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;
 transition: transform .5s ease;
}

 .owl-carousel .item:hover{
    /* border: 1px solid black; */
    transform : scale(1.1);
}

/* .owl-carousel img{
    transition: transform .5s ease;
  }
 .owl-carousel img:hover{
    
    transform : scale(1.25);
} */

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}




.buttermilk{
    background-color:#fff;background-image:linear-gradient(#fff7ef, #fff);
    background-image:-webkit-linear-gradient(#fff7ef, #fff);
    background-image:-moz-linear-gradient(#fff7ef, #fff);
    background-image:-ms-linear-gradient(#fff7ef, #fff);
    background-image:-o-linear-gradient(#fff7ef, #fff);
    padding:50px 40px;
    border:1px solid #efe8e1;
    padding-bottom:20px;
}

.smbg{
    background-color:#fff;
    background-image:linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-webkit-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-moz-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-ms-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-o-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
}

.curdbgpro{
    background-color:#fff;
    background-image:linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-webkit-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-moz-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-ms-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-o-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
}

.goodnessseccont img{
    width:100%;
}

.mlkpro{
    color:#636362;
    font-size:22px;
    line-height:22px;
    margin-bottom:15px;
    width:43%;
    margin:0 auto;
    text-align:center;
    
}

.goodnesssec a{
    text-decoration: none;
}
.footer_section {
    width: 100%;
    float: left;
    height: auto;
    background-image: url(../images/footer-bg.png);
    background-size: 100% 100%;
    padding: 90px 0px 0px 0px;
}
.footer_text {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
}
.address_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    color: #fefefd;
    font-weight: bold;
    padding-bottom: 50px;
}
.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}
.location_text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.padding_left_10 {
    padding-left: 10px;
}

body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 5px;
}

.thumbnail{
	width: 350px;
	height:200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}
